@use './_reset.css';
@use './_vars';


.home-about{
  margin: 0px;  
    background-color: grey;
    height: 100%;
  
}


.test{
  height: 80%;
  width: 100%;
}
.text-container{
  background-color: #729883;
}
