.App{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  

    &-header{
        height: 10vh;
    }

    &-main{
        height: 80vh;
        width: 100vw;
        display: flex;

        &-aside{
            width: 25vw;
            height: 80vh;
        }

        &-page{
            width: 100%;
            background-color: gainsboro;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-footer{
        height: 20vh;
    }

}

@media screen and (max-width: 650px) {
  .App-main-page{
      min-width: 100vw;
  }
}