.caroussel{
    width: 75vw;
    height: 20vw;
    margin-left: 5vw;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 0.5%;
    margin-bottom: 2%;
    
   .slick-prev:before,.slick-next:before {
       color: #729883;
   }

   
    
}

