.confidentiality{
   
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    &-left{
        width: 35%;
    }

    &-right{
        width: 45%;
        line-height: 110%;
        text-align: center;
        color: black;

        &-title{
        color: black;
        }

        p{
            color: black;
        }
    }
}

