.home-contact{
    height: 100%;
    width: 70%;
    overflow-y: hidden;

    &-title{
        font-size: 2vw;
        margin-top: 4%;
        font-weight: bold;
        font-style: italic;
        text-shadow: 2px 2px 11px white ;
    }

    &-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: auto;
        margin-top: 1%;
        font-size: 1vw;

        &-inputs{
            padding: 2%;
            margin: 3%;
            font-size: 1vw;
            box-shadow: 0px 5px 29px 0px #86B19A;
            border: none;
        }

        &-textArea{
            margin: 3%;
            font-size: 1vw;
            box-shadow: 0px 5px 29px 0px #86B19A;
            border: none;
        }

        &-button{
            border-radius: 5px;
            margin-top: 3%;
            padding: 2%;
            font-size: 1vw;
            font-weight: bold;
            background-color: #729883;
            color: rgb(0, 0, 0);
        }
    }

   
}