.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25vh;
     width: 65vw;
    margin-left: 25vw;
    margin-right: 10vw;

    &-items{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}