.homeConnexion{
    display:flex;
   flex-direction: column;
   justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    color: white; 
   
    img{
        height: 20vh;
    }

    &-container-form{
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }

    &-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height:35vh;
        border-radius: 10px;
    }

    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 20vh;
        margin: 3%;
        
    }

    &-visiteur{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0px 5px 29px 0px #86B19A;
        border-radius: 10px;
        line-height: 150%;
        padding: 1%;
        padding-bottom: 1%;
        width: 30vw;
        height:35vh;
        font-size: 1.5vw;
        color: black;
        background-color: rgb(255, 255, 255);

        &-button{
            position: absolute;
            bottom: -15%;
            font-size: 1.8vw;
            border-radius: 10px;
            padding: 3%;
            margin-bottom: 3%;
            border: none;
            background-color:  #86B19A;
            color: black;
        }
    }
}

@media screen and (max-width: 768px) {
    .homeConnexion{

        &-container-form{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

        &-form{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vw;
            height:35vh;
        }

        &-visiteur{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40vw;
            font-size: 2vw;
         
        }

        &-logo{
            width: 30vw;            
        }
    }
}


@media screen and (max-width: 580px) {
    .homeConnexion{

        &-container-form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        &-form{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vw;
            height:30vh;
        }

        &-visiteur{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40vw;
            height:20vh;
            font-size: 2vw;

            &-button{
                position: absolute;
                bottom: -30%;
            }
        }

        &-logo{
           display: none;         
        }
    }
  }


