.user-pseudo{
    font-size : 2em;
    font-weight: bold;
}

.user-region{
    font-size: 0.5em;
    font-style: italic;
    margin-top: 1em;
}

.user-avatar-parent{
    border-radius: 50%;
    width: 80%;
    height: 80%;
}