.minCardTutos{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 29px 0px #86B19A;
    border-radius: 10px;

    width: 300px;
    height: 350px;
    margin: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img{
        width : 290px;
        height : 220px;
        border-radius: 10px;  
        padding-top: 1.25%;
      
    }

    h1{
        z-index: 2;
        font-size: 1.5vw;
        color: black;
        text-shadow: 2px 2px 19px white;
        margin-bottom: 5%;
        height: 15%;
    }

    h3{
        font-size: 1.25vw;
        color: white;
    }
    h4{
        background-color: #86B19A;
    }
}


.minCardTutos:hover{
    background-color: #cae0d4;
}