
.post-form {
  margin-top: 10em;
  height: 25em;
   width: 50em;


    &-element {
      margin:1em;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &-message {
      margin: .3em 1em;
    }
  
    &-logged {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    &-button {
      
      font-size: 0.5em;
      color: 3333;
      border-radius: .3em;
      border: 0;
      padding: .7em;
      height: 2.5em;
    }
  }

#field-content{
  min-height: 1em;
  width: 26em;
  height: 20em;
}
#field-path{
  height: 4em;
  width: 26em;
}
#field-title{
  width: 26em;
}

input{
padding: 0.5em;
  border-radius: 4px;
}

.url{
  height: 6em;
  margin-bottom:2em ;
}
#select-category_1{
  margin: 1em;
  display: block;
}
#select-category_2{
  margin: 2em; 
  background-color: aqua;
  
}
