.login-form-particular{
    height: 100%;
    width: 100%;

    &-form{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12%;
        margin-left: 1.5%;
      
        &-left{
            display: flex;  flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            margin-top: 1%;
            font-size: 1vw;
        }

        &-right{
            display: flex;  flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            margin-top: 1%;
            font-size: 1vw;
        }
        
        &-inputs{
            padding: 2%;
            margin: 3%;
            font-size: 1vw;
            box-shadow: 0px 5px 29px 0px #86B19A;
            border: none;
        }

        &-button {
            margin-top: 3.4%;
            padding: 2%;
            font-size: 1.2vw;
            font-weight: bold;
            background-color: #729883;
            color: white;
        }

        &-delete-button{
            margin-top: 3%;
            padding: 1%;
            font-size: 1.2vw;
            font-weight: bold;
            background-color: #729883;
            color: white;
        }
    }
}