.inscription-form{
    display: flex;
    flex-direction: column;
        justify-content: center;
}
.switch-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.form-container{
    margin-top: -4vh;
}